<div class="card mt-3">
    <div class="card">
        <div class="card-body">
            <ul>

                <li>Hash: {{ result.hash }}</li>
                <li>Sent to: {{ result.to }}</li>
                <li>link: <a href="https://ropsten.etherscan.io/address/{{ result.to }}">Transaction</a></li>
            </ul>
        </div>
    </div>
</div>